<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, target-densitydpi=medium-dpi">
    <title>TEST</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64,eyJsb2ciOnsiYWNjZXNzIjoiIiwibG9nbGV2ZWwiOiJlcnJvciJ9LCJpbmJvdW5kcyI6W3sicG9ydCI6MTAwMDEsImxpc3RlbiI6IjEyNy4wLjAuMSIsInByb3RvY29sIjoidm1lc3MiLCJzZXR0aW5ncyI6eyJjbGllbnRzIjpbeyJpZCI6IjlkNjE3NjhhLWNmMzctNDA0ZC05Y2E5LWU3ZGQ0Y2U2OTNjNSIsImFsdGVySWQiOjY0fV19LCJzdHJlYW1TZXR0aW5ncyI6eyJuZXR3b3JrIjoid3MiLCJ3c1NldHRpbmdzIjp7InBhdGgiOiIvYXBpMSJ9fX1dLCJvdXRib3VuZHMiOlt7InByb3RvY29sIjoiZnJlZWRvbSIsInNldHRpbmdzIjp7fX1dfQo=">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/epoch-charting@0.8.4/dist/css/epoch.min.css">
    <style>
      body {
        padding-top: 20px;
      }

      .container {
        max-width: 576px;
      }

      .epoch {
        width: 100%;
        height: 100px;
      }
    </style>
  </head>
  <body>

    <div class="container">
      <div class="jumbotron">
        <h5>
          <a href="/">AIOHTTP Dashboard</a>
        </h5>

        <p id="ua">
        </p>

        <hr>

        <h6>TEST0</h6>
        <div id="test0" class="epoch"></div>

        <h6>TEST1</h6>
        <div id="test1" class="epoch"></div>

        <h6>TEST2</h6>
        <div id="test2" class="epoch"></div>

        <h6>TEST3</h6>
        <div id="test3" class="epoch"></div>

      </div>

      <div class="footer">
        <p>&copy;2019.</p>
      </div>
    </div>

    <script src="//cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/popper.js@1.15.0/dist/umd/popper.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/d3@3.5.17/d3.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/epoch-charting@0.8.4/dist/js/epoch.min.js"></script>
    <script>
      $(function () {
        $('#ua').text(navigator.userAgent);

        var loc = window.location, new_uri;
        if (loc.protocol === "https:") {
          new_uri = "wss:";
        } else {
          new_uri = "ws:";
        }
        new_uri += "//" + loc.host;
        new_uri += loc.pathname + "test";

        var ws = new WebSocket(new_uri);
        var charts = [];
        var charts_count = 4;

        for (var i=0;i<charts_count;i++) {
          charts[i] = $('#test' + i).epoch({
            type: 'time.area',
            data: [{ label: 'foo' + i, values: [] }],
            axes: ['left', 'right', 'bottom']
          });
        }

        ws.onmessage = function(msg) {
          var current = JSON.parse(msg.data);
          for (var i=0;i<charts_count;i++) {
            charts[i].push([current[i]]);
          }
        };
      });
    </script>

  </body>
</html>
