<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>TEST-({{ ver }})</title>
    <link rel="icon" href="/static/favicon.png" type="image/png">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/epoch-charting@0.8.4/dist/css/epoch.min.css">
    <link rel="stylesheet" href="/static/app.css?{{ ver }}">
  </head>
  <body>

    <div class="container">
      <h1>
        <a href="/">AIOHTTP DASHBOARD</a>
      </h1>

      <h2>TEST0</h2>
      <div id="test0" class="epoch"></div>

      <h2>TEST1</h2>
      <div id="test1" class="epoch"></div>

      <h2>TEST2</h2>
      <div id="test2" class="epoch"></div>

      <h2>TEST3</h2>
      <div id="test3" class="epoch"></div>

      <div class="footer">
        <p>&copy;2019.</p>
      </div>
    </div>

    <script src="//cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/d3@3.5.17/d3.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/epoch-charting@0.8.4/dist/js/epoch.min.js"></script>
    <script src="/static/app.js?{{ ver }}"></script>

  </body>
</html>
